@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300;500;700;900&display=swap');

:root{
    --color-principal: #28475C;
    --color-secondary: #EDCA44;
}

.title-nav{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.pestanas-nav{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

.dev-web {
    color: #28475C;
}


.dev-web p {
    color: #28475C;
}

.carousel {
    align-self: center;
    width: 70% !important;
}