@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300;500;700;900&display=swap');

:root{
    --color-principal: #28475C;
    --color-secondary: #EDCA44;
}

body {
    background-color: var(--color-principal);
}

.titleLogo {
    color: var(--color-secondary);
    font-size: 2em;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.sloganLogo {
    color: white;
    font-size:1em;
    font-family: 'Montserrat', sans-serif;
}

.contenedorLogo {
    overflow: hidden;
    margin-top: 30px !important;
    margin-left: 30px !important;
    text-decoration: none;
}

.logo {
    width: 3.5em;
    height: auto;
}

#logo {
    float: left;
}

#textoLogo {
    float: left;
}

.nounderline {
    text-decoration: none;
}